{{ ansible_managed | comment }}

{% if django_databases %}DATABASES = {{ django_databases }}{% endif %}

{% if django_logging %}LOGGING = {{ django_logging }}{% endif %}

{% if django_media_root %}MEDIA_ROOT = '{{ django_media_root }}'{% endif %}

SECRET_KEY = '{{ django_secret_key | mandatory }}'

{% if django_static_root %}STATIC_ROOT = '{{ django_static_root }}'{% endif %}

{% for setting in django_project_settings %}{{ setting }} = {{ django_project_settings[setting] }}
{% endfor %}
